* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.logo {
    font-weight: 800;
    font-size: 45px;
}

.logo:hover {
    cursor: pointer;
}

.text-primary {
    color: #39ff14;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 51px 256px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 30px;
}

nav li:hover {
    cursor: pointer;
}

.btn-primary {
    padding: 18px 35px;
    background-color: #39ff14;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

button:hover {
    cursor: pointer;
}

.btn-secondary {
    padding: 18px 35px;
    color: #39ff14;
    background-color: white;
    border-color: #39ff14;
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}

.banner {
    display: flex;
    padding: 0 200px;
    align-items: center;
}

.banner h3 {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner h1 {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner p {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

header {
    background: #fff8f3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: 50%, 5.5%;
}

.alamin {
    height: 520px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-me {
    background: #fff8f3;
    border-radius: 10px;
    margin: 130px auto;
    text-align: center;
}

.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
}

.table-header {
    display: flex;
    justify-content: space-between;
}

.table-heading {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.table-data {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

.all-task {
    margin-top: 100px;
    text-align: center;
}

.tasks {
    background: #fff8f3;
    border-radius: 10px;
    padding: 130px auto;
    padding-top: 0;
}

.task {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}

.task-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
}

.works {
    display: flex;
    gap: 10px;
}

.work img {
    padding: 30px;
    text-align: left;
}

.work {
    padding: 0 30px 30px 30px;
}

.work p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.footer-container {
    display: flex;
    gap: 110px;
    margin: 0 auto;
    padding: 0 200px;
    background: #fff8f3;
}

.connect h2 {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}

.connect p {
    font-weight: 400;
    font-size: 16px;
    color: #474747;
    margin-top: 20px;
    width: 460px;
}

.connect img {
    margin-right: 24px;
    margin-top: 30px;
}

.form h2 {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}

input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    border: none;
    padding: 18px 30px;
    font-weight: 400;
    font-size: 16px;
}
input[type="text"],
input[type="email"] {
    width: 461px;
    height: 64px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: #757575;
}
